<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JEDITOR.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <JEDITOR.My.MySettings>
            <setting name="tableFactoryExportSQLFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tableFactoryExportJSONFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tableFactoryInsertSQLFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tableFactoryOutputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="tableFactoryInputFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tableFactoryXlsTaggingCol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tableFactoryXlsTaggingRow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="tableFactorySqlEachInsertLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tableFactoryColParseLimit" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="tableFactoryRowParseLimit" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="dbManagerSqlServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbManagerSqlUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbManagerSqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbManagerSqlPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="dbManagerSqlDb" serializeAs="String">
                <value>tablefactorydemo</value>
            </setting>
            <setting name="tableFactorySqlTablePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="tableFactoryTestModeRowCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="tableFactoryExportJSFile" serializeAs="String">
                <value>True</value>
            </setting>
        </JEDITOR.My.MySettings>
    </userSettings>
</configuration>
